<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="./css/main.css" rel="stylesheet">
    </head>
    <body class="light_blue">
        <div id="app">
            <div class="table">
                <div class="row">
                    <div class="cell">
                        <div class="table">
                            <table-header v-bind:title-h2="'EVENT USE  CATEGORIZATION'"
                                          v-bind:title-h4="'(Grouping and FILTERING as per USAGE.)'">
                            </table-header>
                            <div class="head">
                                <div class="cell header dark_blue">
                                    <div v-for="(item, index) in header" class="cell mono" v-html="padding(item, index)">
                                    </div>
                                </div>
                            </div>
                            <div v-for="record in records" class="row">
                                <div class="cell record original dark_blue">
                                    <div class="red_border">
                                        <div v-for="(item, index) in record"
                                             :style="{backgroundColor: eventColor(record[12])}"
                                             :key='index' class="cell text mono" v-html="padding(item, index)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="table" id="totals">
                            <table-header v-bind:title-h4="'CONSUMPTION CONSOLIDATION PER CATEGORY'"></table-header>
                            <div class="head">
                                <div class="cell"><h5 v-html="eventNumbers[0]"></h5></div>
                            </div>
                            <div class="head">
                                <div class="cell"><h5 v-html="eventNumbers[1]">/h5></div>
                            </div>
                        </div>
                        <div class="table" id="totals">
                            <div v-for="(total, rowIndex) in totals" class="row">
                                <div v-for="(item, index) in total"
                                     :key='index'
                                     class="cell text mono grey border_lightBlue"
                                     :class="{header: rowIndex == 0}"
                                     :style="{textAlign: rowIndex == 0 ? 'center' : 'left'}">
                                    <span v-if="rowIndex == 0" v-html="item"></span>
                                    <span v-else>{{ item }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js" type="module"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
        <script src="./js/components.js"></script>
        <script src="./js/methods.js" type="module"></script>
        <script src="./js/app_events.js" type="module"></script>
        <script src="./js/event.js" type="module"></script>
    </body>
</html>
